<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>bg</string>
		<key>UIImageName</key>
		<string>gurkha_hr</string>
	</dict>
   
   <key>NSCameraUsageDescription</key>
   <string>We need to access your camera for scanning QR code</string>
   <key>NSPhotoLibraryUsageDescription</key>
   <string>We need to add images to photo library inorder to save statements, receipts.</string>
</dict>
</plist>
